<!DOCTYPE html>
<html>
<head>
    <title>Persons</title>
</head>
<body>

    <h2>Add New User</h2>
    <form action="/themdulieu" method="post">

        <label for="LastName">LastName:</label>
        <input type="text" id="LastName" name="LastName" required><br><br>

        <label for="LastName">FirstName:</label>
        <input type="text" id="FirstName" name="FirstName" required><br><br>

        <label for="LastName">Address:</label>
        <input type="text"  name="Address" required><br><br>

        <label for="LastName">City:</label>
        <input type="text"  name="City" required><br><br>

        <button type="submit">Add Person</button>
    </form>

</body>
</html>